@import "styles/main.module.scss";

.loading,
.error {
    @include absoluteCenter;
    font-size: 1.7rem;
}

.container {
    width: 30rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 1.3rem;
    background-color: $color-black;

    .imageHeader {
        display: flex;
        justify-content: space-between;
        .nameSection,
        .familySection {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            line-height: 1.3rem;

            p {
                font-size: 0.8rem;
                color: $color-gold;
                font-weight: 600;
            }
        }

        .familySection {
            text-align: right;
        }
    }

    img {
        width: 100%;
        border-radius: 0 0 1.3rem 1.3rem;
    }
}
